stable-diffusion/models/ldm/stable-diffusion-v1/*
stable-diffusion/src/*
stable-diffusion/outputs/*
stable-diffusion/ideas/*
stable-diffusion/logs/*
mtgencode/data/AllPrintings.json
encoded_data_sources/*.h5
encoded_data_sources/*.json
nns/*
*__pycache__*
*.egg-info*
tmp*.py
tmp
torch-install-log.txt
SD_target.py
